---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const allCategories = posts.flatMap(post => post.data.categories);
const uniqueCategories = [...new Set(allCategories)];

const today = new Date();
---
<footer>
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-intro">
        <h3>Mountos codeLab</h3>
        <p>&gt; Accessing node: code.mountos.com<br>&gt; Status: Active</p>
      </div>
      <div class="footer-menus">
        <div class="footer-menu">
          <h4>// Logs</h4>
          <ul>
            {uniqueCategories.slice(0, 5).map(category => (
              <li><a href={`/categories/${category}`}>{category}</a></li>
            ))}
            {uniqueCategories.length > 5 && <li><a href="/categories">...More</a></li>}
          </ul>
        </div>
        <div class="footer-menu">
          <h4>// System</h4>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/privacy">Protocol</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h4>// Network</h4>
          <ul>
            <li><a href="https://mountos.com" rel="nofollow noopener noreferrer" target="_blank">Mountos Main</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="copyright">&copy; {today.getFullYear()} Mountos codeLab. All rights reserved.</p>
      <div class="footer-socials">
        
      </div>
    </div>
  </div>
</footer>